/* Element Selectors */

body {
    font-family: 'Montserrat', sans-serif;
    /* text-align: justify; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #ede8e8;
    text-decoration: none;
}

p {
    font-size: large;
    line-height: 2;
}

/* Class Selectors */

.section-dark {
    background-color: #1597BB;
    color: #ede8e8;
}

.section-light {
    background-color: #ede8e8;
    color: #282A3A;
}

/* HEADER SECTION */

#header {
    padding: 3% 15% 2%;
}

/* Navbar */

.navbar {
    padding: 1% 3%;
}

.header-logo {
    padding: 5% 0;
    width: 30%;
}

.nav-item {
    font-size: 1.25rem;
    padding: 0 1%;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* Header Body */

.header-text {
    margin-top: 5%;
}

.buy-now-btn {
    margin: 5% 0;
}

.header-product-img {
    height: 500px;
    width: 500px;
    text-align: center;
}

@media (max-width: 990px) {
    #header {
        text-align: center;
    }
}

/* EXPLORE SECTION */

#explore {
    padding: 5% 15%;
}

.explore-content {
    padding: 5% 0;
}

.explore-img {
    width: 100%;
}

.explore-heading {
    margin: 2% 0;
}

/* CHARACTERS SECTION */

.character-details {
    padding: 7% 15%;
}

.character-details h2 {
    margin: 2% 0;
}

.jacob-img {
    float: left;
    margin: 0 3%;
    width: 50%
}

.evie-img {
    float: left;
    margin: 0 3%;
    width: 65%;
}

/* MEDIA SECTION */

#media {
    padding: 7% 10%;
}

.media-img {
    margin: 5% 0%;
    width: 100%;
}

/* CTA SECTION */

#cta {
    padding: 7% 15% 2%;
    text-align: center;
}

.product-details {
    background-color: rgba(0,0,0,0);
    color: #ede8e8;
    height: 90%;
    margin: 7% 3%;
}

/* COPYRIGHT SECTION */

#copyright {
    text-align: center;
}

.social-media-links {
    background-color: black;
    padding: 2% 0;
    text-align: center;
}

.social-icon {
    font-size: 1.5rem;
    padding: 0 1%;
    transition: 0.25s;
}

.social-icon:hover {
    font-size: 2rem;
    transition: 0.25s;
}

.rating-copyright {
    padding: 5% 15% 2%;
}

.esrb-rating {
    margin: 2% 0;
    width: 250px;
}